@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa-Regular.woff2') format('woff2'), url('../fonts/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg'), url('../fonts/Comfortaa-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #000;
	font-family: 'Comfortaa-Regular';
}

.posAbs {
	position: absolute;
}

.posRel {
	position: relative;
}

.pull-left {
	float: left;
}

.clearfix {
	clear: both;
}

.dispInlineBlock {
	display: inline-block;
}

.main-container {
	margin: 0 5%;
}

.backdrop {
	filter: blur(8px);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.wrapper {
	text-align: center;
	margin: 25px;
}

.city-img {
	height: 100%;
	width: 100%;
}

.city-selector {
	width: 170px;
    height: 30px;
    border-radius: 4px;
}

.weather-wrapper {
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	background-size: cover;
	padding: 75px;
	position: relative;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

.weather-details {
	display: flex;
	align-items: center;
	justify-content: center;
}

.date {
	display: block;
	position: relative;
	margin: 50px auto;
	text-align: center;
}

.dayOfWeek {
	font-size: 24px;
	font-weight: bold;
}

.weather {
	height: auto;
	margin: 0 10px;
	width: 50px;
}

.bigWeatherIcon {
	height: 150px;
	margin: 0 auto 0;
	width: 150px;
}

.temperature {
	font-size: 34px;
}

.degree {
	font-size: 20px;
	position: relative;
	top: -10px;
}

.degree-centigrade {
	position: relative;
	top: -5px;
}

.wind-details {
	font-size: 14px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.showDetailsIcon {
	display: inline-block;
	margin: 10px 0 0 0;
	transition: transform .1s;
	/* Animation */
}

.showDetailsIcon:hover {
	transform: scale(1.1);
}

.weatherDetailsPopup {
	background: #fff;
	border-radius: 5px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	height: 90%;
    left: 20%;
    padding: 20px 40px;
    top: 5%;
    width: 60%;
}

.bigFonts {
	font-size: 24px;
}
.white-color {
	color: #fff;
}

.biggerFonts {
	font-size: 36px;
}

.smallFonts {
	font-size: 12px;
}

.cover {
	background-size: cover;
	filter: blur(4px);
}

.home {
	height: 24px;
	width: 24px;
}

.minMaxTemp {
	margin-top: 30px;
}

.upDown {
	height: 10px;
	position: relative;
	top: 5px;
	margin-right: 5px;
}

.spacer {
	margin: 20px 0 0;
}

.windHumidity, .sunRiseSet {
	height: 40px;
	width: 40px;
	position: relative;
	top: -15px;
}

.sunRiseSet {
	left: 5px;
	top: 0;
}

.windHumidityValues {
	margin-left: 10px;
}

.loader {
	background: url('../images/loader.gif');
	height: 200px;
	left: 40%;
	position: fixed;
	top: 25%;
	width: 200px;
	z-index: 3;
}

.loader-blocker {
	background: #ccc;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.text-min-max {
	display: flex;
    align-items: center;
    justify-content: center
}

.temp-label {
	margin-right: 5px;
}