<!DOCTYPE html>
<html lang="en" ng-app="weather-app">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Weather Application</title>
	<meta name="description" content="Application to view weather forcast of european cities.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="container">
	<div class="main-container">
		<div ng-controller="MainCtrl" class="wrapper">
			<div ng-if="currentPage !=='/city-details'">
				<span class="bigFonts white-color"> Change City : </span>
				<select class="city-selector" ng-change="cityChanged(selectedCity)" ng-model="selectedCity">
					<option ng-repeat="city in cityList" value="{{city.id}}">
						{{city.name}}
					</option>
				</select>
			</div>
		</div>
		<ng-view></ng-view>
	</div>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/main-ctrl.js"></script>

	<script type="text/javascript" src="js/services/city-service.js"></script>

	<script type="text/javascript" src="js/factory/city-factory.js"></script>

	<script type="text/javascript" src="js/controllers/home-page-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/weather-detail-ctrl.js"></script>

	<script type="text/javascript" src="js/directives/weather-info-drtv.js"></script>
</body>

</html>