<div class="loader" ng-if="isLoading"></div>
<div class="loader-blocker" ng-if="isLoading"></div>
<div class="backdrop cover" ng-style="{'background-color':img}"></div>
<div class="posAbs weatherDetailsPopup">
    <div class="row spacer">
        <div class="text-left col-sm-4 bigFonts">
            <b>{{::cityCoords.name}} ({{::cityCoords.sys.country}}) </b>
        </div>
        <div class="col-sm-7 bigFonts">
            <b>{{::finalDate}}</b>
        </div>
        <a href="#/" class="text-right col-sm-1" title="Home">
            <img src="./images/home.png" class="home" />
        </a>
    </div>

    <div class="row spacer">
        <div class="col-sm-4">
            <span class="biggerFonts">{{cityCoords.main.temp}}</span>
            <span class="bigFonts degree-centigrade"> &deg;F</span>
        </div>
        <div class="col-sm-4 text-left text-min-max">
            <div class="row text-left">
                <span class="temp-label">Max</span>
                <img class="upDown" src="./images/up1.png" />
                <span>
                    {{cityCoords.main.temp_max}} &deg;F
                </span>
            </div>
        </div>
        <div class="col-sm-4 text-left text-min-max">
            <div class="row text-left">
                <span class="temp-label">Min</span>
                <img class="upDown" src="./images/down1.png" />
                <span>
                    {{cityCoords.main.temp_min}} &deg;F
                </span>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <img ng-src="./images/{{cityCoords.weather[0].main}}.png" class="bigWeatherIcon" />
    </div>
    <div class="row spacer">
        <div class="col-sm-3 text-center">
            <span class="dispInlineBlock">
                <img class="windHumidity" ng-src="./images/wind.png" />
            </span>
            <span class="dispInlineBlock text-left windHumidityValues">
                <div class="smallFonts">{{cityCoords.wind.speed}} kmph</div>
                <span class="smallFonts">Wind</span>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3 text-center">
            <span class="dispInlineBlock">
                <img class="windHumidity" ng-src="./images/humidity.png" />
            </span>
            <span class="dispInlineBlock text-left windHumidityValues">
                <div class="smallFonts">{{cityCoords.main.humidity}} %</div>
                <span class="smallFonts">Humidity</span>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3 text-center">
            <span class="dispInlineBlock">
                <img class="sunRiseSet" ng-src="./images/sunrise.png" />
            </span>
            <span class="dispInlineBlock text-left windHumidityValues">
                <div class="smallFonts">{{sunrise}}</div>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3 text-center">
            <span class="dispInlineBlock">
                <img class="sunRiseSet" ng-src="./images/sunset.png" />
            </span>
            <span class="dispInlineBlock text-left windHumidityValues">
                <div class="smallFonts">{{sunset}} </div>
            </span>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row spacer">
        <div class="text-center col-sm-12 bigFonts">
            <b>Next 4 days forcast</b>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-sm-3 text-center" ng-repeat="item in cityForcastList">
            <span class="dispInlineBlock text-left windHumidityValues">
                <div class="smallFonts"><b>{{convertDate(item.dt)}}</b></div>
                <div class="spacer"></div>
                <div class="smallFonts"><b>Wind :</b> {{item.speed}} kmph</div>
                <div class="smallFonts"><b>Humidity :</b> {{item.humidity}}</div>
                <div class="smallFonts"><b>Min :</b> {{item.temp.min}} &deg;F</div>
                <div class="smallFonts"><b>Max :</b> {{item.temp.max}} &deg;F</div>
            </span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>