<div class="backdrop" ng-style="{'background-color':img}"></div>
<div ng-if="img.length" class="weather-wrapper">
    <weather ng-if="cityCoords" data="cityCoords"></weather>
</div>
<div class="loader" ng-if="isLoading"></div>
<div class="loader-blocker" ng-if="isLoading"></div>