<div class="weather-container">
    <div class="date">
        <div class="dayOfWeek"> {{::finalDate}} </div>
    </div>

    <div class="weather-details">
        <img ng-src="./images/{{data.weather[0].main}}.png" class="weather" />
        <span class="temperature ">{{data.main.temp}}</span>
        <span class="degree">&deg;F</span>
        <br />
    </div>

    <div class="wind-details speed"> {{data.weather[0].main}} | {{data.wind.speed}} kmph </div>
    
    <div class="wind-details">
        <a href="#/city-details" class="showDetailsIcon" title="Show Detailed Weather">
            <img src="./images/next-page.png" />
        </a>
    </div>

</div>