@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('Comfortaa-Regular.eot');
  src: url('Comfortaa-Regular.woff2') format('woff2'),
       url('Comfortaa-Regular.woff') format('woff'),
       url('Comfortaa-Regular.ttf') format('truetype'),
       url('Comfortaa-Regular.svg#Comfortaa-Regular') format('svg'),
       url('Comfortaa-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

